# Generate a service token after Elasticsearch is running:
#   docker compose -f .docker/docker-compose.yaml exec elasticsearch \
#     bin/elasticsearch-service-tokens create elastic/kibana nineforum-kibana
ELASTICSEARCH_SERVICEACCOUNTTOKEN=CHANGE_ME_paste_the_generated_kibana_service_token
XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=CHANGE_ME_generate_at_least_32_random_characters
XPACK_SECURITY_ENCRYPTIONKEY=CHANGE_ME_generate_at_least_32_random_characters
XPACK_REPORTING_ENCRYPTIONKEY=CHANGE_ME_generate_at_least_32_random_characters
