<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ayor.mapper.ConversationMapper">

    <!-- 获取聊天对象ID -->
    <select id="getChatPartnerId" resultType="java.lang.Integer">
        SELECT
            CASE
                WHEN alpha_account_id = #{accountId} THEN beta_account_id
                WHEN beta_account_id = #{accountId} THEN alpha_account_id
                END AS chat_partner_id
        FROM conversation
        WHERE (alpha_account_id = #{accountId} OR beta_account_id = #{accountId})
          AND is_deleted = 0 AND conversation_id = #{conversationId}
    </select>

</mapper>
