<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayor.mapper.PermissionMapper">

    <resultMap id="UserPermissionVOMap" type="com.ayor.entity.vo.UserPermissionVO">
        <id property="accountId" column="account_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleNick" column="role_nick"/>
        <result property="topicId" column="topic_id"/>
        <collection property="permissions"
                    column="account_id"
                    select="getPermissionsByAccountId"
                    ofType="java.lang.String"/>
    </resultMap>

    <select id="getUserPermissionVO" resultMap="UserPermissionVOMap">
        SELECT
            account_id,
            role_name,
            role_nick,
            role.topic_id as 'topic_id'
        FROM
            account
                JOIN role ON account.role_id = role.role_id
        WHERE account.account_id = #{accountId}
    </select>

</mapper>
