<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayor.mapper.PermissionMapper">

    <select id="getUserPermissionVO" resultType="com.ayor.entity.app.vo.UserPermissionVO">
        SELECT
            account_id,
            role_name,
            role_nick,
            role.topic_id as 'topic_id',
            GROUP_CONCAT(permission.permission) as 'permissions'
        FROM
            account
                JOIN role ON account.role_id = role.role_id
                LEFT JOIN permission ON account.role_id = permission.role_id
        WHERE account.username = #{username}
        GROUP BY account_id, role_name, role.topic_id
    </select>

</mapper>